<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tests"  verbose="1" parallel="false" thread-count="2">

    <test name="Test in Chrome" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.TNGTest" />
        </classes>
    </test>

    <test name="Test in Firefox" parallel="false" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.TNGTest"/>
        </classes>
    </test>

    <test name="Test in IE11" parallel="false" thread-count="2">
        <parameter name="browser" value="ie11"/>
        <classes>
            <class name="tests.TNGTest"/>
        </classes>
    </test>

</suite>